body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header .header-title {

  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 2rem;
  color: white;
}
header h2 {
  font-size: 5.5rem;
  margin: 0;

}
header h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
}
ul {
  list-style-type: none;
  padding-inline-end: 40px;
  margin-block-start: 0
}
.box-post {
  width: 100%;
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aaa;
  padding: 0.9rem 1rem;
}
.box-post:hover {
  background-color: #fafafa;
}
.box-title {
  align-items: center;
  display: contents;
  color: #333;
  font-size: 13pt;
}
.box-author {
  align-items: center;
  color: #999;
  margin-left: 15px;
}
.box-date {
  align-items: center;
  color: #333;
  margin-right: 5rem;
}
.box-icon {
  align-items: center;
}
.delete-icon {
  color: #333;
  margin-right: 5px;
}
.links-post {
  text-decoration: none;
}
.links-post[disabled=true] {
  pointer-events: none;
}
